* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

/*===================================================================*/

.titulo-da-aplicacao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-image: url('/assets/pexels-daniel-dan-47825192-7542862.jpg');
    background-size: cover;
    background-position: center;
}

.titulo-da-aplicacao h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    color: #ffffff;
    text-shadow: #000 3px 3px 6px;
}

/*===================================================================*/

.botao-opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
}

.seletor-de-opcoes {
    font-weight: 600;
    border-radius: 5px;
    border: #9c9c9c solid 1px;
    height: 30px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    background-color: #4091ba;
    color: #fff;
}

/*===================================================================*/

.quadro-1-conteudo {
    width: 90%;
    background-color: #dcdcdc;
    border-radius: 5px;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 50px 0;
    text-align: justify;
    line-height: 1.7;
}
